* {
    box-sizing: border-box;
}
@font-face {
  font-family: "Cleon";
  src: url('/assets/fonts/Cleon-Demo.otf') format("truetype");
}
html {
	background-image: url(/assets/images/galaxy-background-design_2001749.jpg);
    background-size: 150%;
	background-position:50% 50%;  
	font-family: "Cleon";
}
@import "compass/css3";

body {
  overflow: hidden;
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
  line-height: 6rem;
}
.main {
	line-height: 10vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 5vh auto 5vh -20vw;
  padding: auto;
  height: 90vh;
  width: 40vw;
  border: 2px solid ;
  border-radius: 3rem;
  left: 50%;
}
#title {
  margin: 2vh auto 10vh;
    font-size: 10vh;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

/* .choice {
	width: fit-content;
}
.choice:hover {
	transform: translateX(20px);
	content: attr("ER");

} */

.game {
    color: springgreen;
    text-decoration: none;
    /* transform: scale(0.8); */
    transition: all .2s ease-in-out;
}
/* .game:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
} */

.won-2 {
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	width: 25vh;
	height: 25vh;
	box-shadow:
	  inset 0 0 25px #fff,
	  inset 10px 0 40px #ff00ff,
	  inset -10px 0 40px #0ff,
	  inset 10px 0 150px #ff00ff,
	  inset -10px 0 150px #0ff,
	  0 0 25px #fff,
	  -5px 0 40px #ff00ff,
	  5px 0 40px #0ff;
}
.won-1{
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	width: 25vh;
	height: 25vh;
	box-shadow:
	  inset 0 0 25px #fff,
	  inset 10px 0 40px rgba(6, 206, 189, 0.3),
	  inset -10px 0 40px #0ff,
	  inset 10px 0 150px rgba(6, 206, 189, 0.3),
	  inset -10px 0 150px #0ff,
	  0 0 25px #fff,
	  -5px 0 40px #06cebd4d,
	  5px 0 40px #0ff; 
}

.tie {
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	width: 25vh;
	height: 25vh;
	box-shadow:
	  inset 0 0 25px #fff,
	  inset 10px 0 40px greenyellow,
	  inset -10px 0 40px cyan,
	  inset 10px 0 150px greenyellow,
	  inset -10px 0 150px cyan,
	  0 0 25px #fff,
	  -5px 0 40px greenyellow,
	  5px 0 40px cyan;
}

button {
	width: 25vw;
	min-width: 15vw;
  outline: none;
	transition: 0.25s;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
  font-size: 8vh;
	padding: 2vh 4vh;	
	color: #fff;
	border: 1.5px solid #ffa260;
	border-radius: 5px;
	text-align: center;
	-webkit-animation: glow-result 1s ease-in-out infinite alternate;
	-moz-animation: glow-result 1s ease-in-out infinite alternate;
	animation: glow-result 1s ease-in-out infinite alternate;
}
button:hover {
	box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
	  transform: translateY(-0.25em);
	/* -webkit-animation: glow-result 1s ease-in-out infinite alternate;
	-moz-animation: glow-result 1s ease-in-out infinite alternate;
	animation: glow-result 1s ease-in-out infinite alternate; */
}
button:focus {
	animation: pulse 1.5s 1;
	text-align: center;
	color: white;
	text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 3px #dbd81a, 0 0 4px #dbd81a, 0 0 5px #dbd81a, 0 0 6px #dbd81a, 0 0 7px #dbd81a;
}
@keyframes pulse
{
     0% {
          box-shadow: 0 0 0 0px #ffa2607c;
     }
     100% {
          box-shadow: 0 0 0 35px  #ffa26000;
     }
}

@-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #e60073, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 14px #e60073;
	}
	
	to {
	  text-shadow: 0 0 4px #fff, 0 0 6px #ff4da6, 0 0 8px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 14px #ff4da6, 0 0 16px #ff4da6;
	}
  }
  @-webkit-keyframes glow-result {
	from {
	  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #dbd81a, 0 0 4px #dbd81a, 0 0 5px #dbd81a, 0 0 6px #dbd81a, 0 0 7px #dbd81a;
	}
	
	to {
	  text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px yellow, 0 0 5px yellow, 0 0 6px yellow, 0 0 7px yellow, 0 0 8px yellow;
	}
  }